/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*:focus {
	box-shadow: 0 0 10px black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {
	border: none;
	outline: none;
	background: none;
	
  }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li, nav li a {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
	text-decoration: none;
	color: var(--fbc-primary-text);
}

nav li.selected {
font-weight: 800;
}

li:hover, li a:hover {
	color: #B1663C;

}


#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/*ajout de modifier */
.title-and-nav {
    display: flex;
    align-items: center; 
    justify-content: center; 
	text-align: center;
  	margin-bottom: 1em;
}

.modifier {
	display: none;
}
.modifier > a {
	text-decoration :none;
}


/* fenetre modale */
.modal {
	position: fixed;
	display: flex;
	align-items: center ;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.3);
	animation: fadeIn .3s both;
}

.modal-wrapper {
	overflow: auto;
	width: 560px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	animation: slideFromTop .3s both ;
}


.modal[aria-hidden="true"] {
	animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
	animation-name: slideFromBottom;
}

.modal .js-modal-close {
	right: 20px;
  	position: absolute;
}

.modal h2 {
	font-family: work sans;
	color: black;
	font-weight: 500;
  	font-size: 26px;
	margin: 2.5rem 0;
	text-align: center;
}


/* gallery modal */
.modal-images {
	display: grid;
	grid-template-columns: repeat(5, 1fr); /* 5 colonnes de largeur égale */
	gap: 30px 8px; /* Espacement entre les images */
	max-width: 375px; /* Ajustez la largeur en fonction de votre mise en page */
	margin: 0 auto;
	padding-bottom: 5rem;
	border-bottom: 1px solid #B3B3B3 ;
  }
  
  figure {
	position: relative;
  }
  

  .modal-images figure img {
	width: 100%; /* Pour remplir la largeur de chaque cellule de la grille */
	height: auto; /* Pour conserver les proportions de l'image */
	object-fit: cover; /* Pour ajuster la taille de l'image sans déformer */
  }


  .modal-images figure button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
  	color: white;
 	font-size: 10px;
	padding: 3px;
 	border-radius: 3px;
	cursor: pointer;

  }

/*formulaire ajout imag*/
.modal-form {
	display: flex;
	flex-direction: column;
	max-width: 375px;
	margin: 0 auto;
	padding-bottom: 5rem;
	border-bottom: 1px solid #B3B3B3;
}


.modal-form .champImg {
	background-color: #E8F1F6;
	display: block;
    width: 100%;
    text-align: center;
	box-sizing: border-box; 
/*	padding: 1rem 0; */
}
.modal-form .champImg img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
	margin: 0;
	height: 200px;
}
.champImg * {

	margin: 1rem 0;
}


.modal-form .champImg i {
text-align: center;
  font-size: 5rem;
  display: block;
  color: #B9C5CC;
}

/*ajout des btn filter */

#filters {
	text-align: center;
  }

.filter-button {
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	background-color: white;
	color: #1D6154;
	margin : 2em 1em ;
	padding: 0.75em 1em;
	text-align: center;
	border-radius: 60px ;
	border: 2px solid #1D6154;
	font-size: 16px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.filter-button:hover, .filter-button.active {
	color: white;
	background-color: #1D6154;

}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.gallery figure.on {
	display: block;
}

.gallery figure.off {
	display: none;
}



#login {
	height: 75vh;
 	width: 50%;
 	margin: auto;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * , #login > * {
	text-align: center;

}
#contact h2, #login h2 {
	margin-bottom: 20px;
}
#contact form, #login form, .modal-form form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

select {
	
	background-color: white;
}


#contact input, #login input, .modal .addNewPic, .modal-form input, select, select option  {
	height: 40px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
}

#contact label, #login label, .modal-form label {
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login a {
	text-align: center;
	color: #15141A;
}

input[type="submit"], .modal .addNewPic {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

input[type="submit"]:hover, .modal .addNewPic:hover {

	background-color: #0E2F28
}

/* Cacher l'input de type file */
input[type="file"] {
    display: none;
}

/* btn uplaod img */
.custom-file-upload {

	margin : 2em auto ;
	background-color: #CBD6DC;
	color: #306685;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	padding: 8px 1rem;
}

.modal .addNewPic {

	display: block; 
	width: 220px;
	font-size: 14px;
	margin: 3em auto;
  }


  
.modal .addNewPic:disabled {

background-color: #B3B3B3;
  }



footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* animation */
@keyframes fadeIn {
	from { opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeOut {
	from { opacity: 1;}
	to {opacity: 0;}
}


@keyframes slideFromTop {
	from { transform: translateY(-50px);}
	to {transform: translateY(0)}
}


@keyframes slideFromBottom {
	from { transform: translateY(0);}
	to {transform: translateY(-50px)}
}